<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Estilos generales -->
    <link rel="stylesheet" href="/css/productList.css"> <!-- Estilos específicos para productList -->
</head>
        <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <ul class="nav nav-pills ms-auto mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"  type="button" role="tab" aria-controls="pills-home" aria-selected="true" href="/">Home</a>
                    </li>

                    <li class="nav-item hover" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" href="/register" aria-selected="false">Registrarse</a>
                    </li>

                    <li class="nav-item hover" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" href="/login" aria-selected="false">Iniciar sesión</a>
                    </li>

                    <li class="nav-item hover" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" href="/profile" aria-selected="false">Mi perfil</a>
                    </li>

                    <li class="nav-item hover" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" href="/api/products/productlist" aria-selected="false">Productos</a>
                    </li>

                    <li class="nav-item hover" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" href="/api/carts"aria-selected="false">Mi carrito</a>
                    </li>

                    <li class="nav-item hover" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" href="/api/sessions/logout" aria-selected="false">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </nav> 
    </header>

<h1 class="mt-5">Home</h1>
        <div class="container mt-3">
            <div class="row">
                {{#each products}}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                        <img src={{this.img}} class="card-img-top" alt="{{this.title}}">                       
                            <div class="card-body"> 
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">{{this.description}}</p>
                                <p class="card-text">Disponibles: {{this.stock}}</p>
                                <p class="card-text">Precio: {{this.price}}</p>
                            </div>
                    </form> 
                    <form action="/api/carts/{{../cartId}}/product/{{#if this._id}}{{this._id}}{{/if}}" method="post">
                        <input type="hidden" name="productId" value="{{this._id}}">
                        <input type="number" name="quantity" value="1"> 
                        <button type="submit">Agregar al carrito</button>
                    </form> 
                        
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
        <!-- Paginación -->
        <div>
            {{#if hasPrevPage}}
                <a href="{{prevLink}}">Previous</a>
            {{/if}}
            {{#if hasNextPage}}
                <a href="{{nextLink}}">Next</a>
            {{/if}}
        </div>



